@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary-color: rgba(90, 60, 116, 0.808);
    --second-color: rgba(194, 151, 231, 0.808);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0; 
    padding: 0;
    background-color: var(--primary-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container {
    max-width: 640px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 10px;
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input { 
    font-size: 24px;
    height: 50px;
    border-radius: 10px;
    border: none;
}

form input:focus {
    outline: 1px solid var(--second-color) ;
}

form button {
    border: none;
    background-color: var(--second-color);
    height: 50px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
    color: whitesmoke;
    cursor: pointer;
}

form button:hover {
    background-color: var(--primary-color);
}
